* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

section {
    margin-top: 130px;
}

/* header navigation */
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav {
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    height: 64px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
}

/* header banner */

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* header */

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

/* main section */

main {
    max-width: 1140px;
    /* background-color: yellow; */
    margin: 0 auto;


}

/* About Me */

.about {

    /* margin-top: 130px; */
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    text-align: center;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* What i do section */

/* .what-i-do {
    margin-top: 130px;
} */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0px 20px 0px;

}

.skill-description {
    color: #757575;
    line-height: 28px;
}

/* resume section */



.section-title-new {
    margin-bottom: 113px;
}

.resume-content {
    display: flex;
    gap: 24px;
}

.resume-title {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.resume .title {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin: 10px 0px 20px 0px;
}

.resume .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}

.resume .description {
    color: #757575;
    line-height: 28px;
}

.resume-item {
    margin: 30px 0px;
}

.cv {
    margin-top: 50px;
    text-align: center;
}

/* contact */

.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;

}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact .section-title {
    text-align: left;
}

input {
    height: 64px;
}

.section-description-new{
    margin-bottom: 30px;
    color: #474747;

}

.contact a{
    text-decoration: none;
    margin-right: 24px;
}